//  action new
.company {
  margin-top: 10px;
}
.data_field {
  padding-right: 10px;
  width: 300px;
}      
.vertical_td{
  vertical-align: top; 
}

//  action show

.link_buttons {
  margin-bottom: 20px;
}

.office_logo {
  float: left;
  border: 1px black;
  margin-right: 10px;
}

.office_box {
  min-height: 150px;
}

.office_title {
  font-weight: bold;
  font-size: 20px;
}

.office_description {
  font-weight: bold;
}

.offices_list {
  margin-top: 20px;
}