// Own cookie page
.banner_tasks

.close_button_tasks {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.image > img {
  height: 400px;
  width: 100%;
}


//  Caching example page

.user_details {
  padding: 5px;
}