/ #flash-container
/   - flash.each do |key, value|
/     div class=flash_class(key)
      
/       button.close[type="button" data-dismiss="alert" aria-label="Close"]
/         span[aria-hidden="true"]
/           | ×
